/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Verdana,sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}

/* 
nguyên tắc làm:
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết */

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông...) */


/* Common */


.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.3333%;
}

.clear{
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.text-white{
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.btn{
    border: none;
    color: #fff;
    margin-top: 15px;
    padding: 11px 16px;
    text-decoration: none;
    display: inline-block;
    background-color: #000;
}

.btn:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}


/* Main */
#main {
    /* css main */
    
    
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
    
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    
    position: relative;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color:#000;
    background-color: #ccc;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    top: 100%;
    left: 0;
    min-width: 160px;
    position: absolute;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(180, 111, 111, 0.3); 
}

.subnav li{
    display: block;
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;

}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;

}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 18px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;

}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%); */
    /* cach 2 */
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}


#content {
    /* css content */
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 0px 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    
}

#content .section-sub-heading{
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-top: 25px;
    opacity: 0.6;
}

#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list{
    margin-top: 32px;
}

#content .member-item{
    text-align: center;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour section */
.tour-section{
    background-color: #000;
}

.tickets-list{
    margin-top: 40px;
    background-color: #fff;
    list-style: none;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out{
    background-color: #F44337;
    color: #fff;
    padding: 3px 8px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    background-color: #000;
    width: 24px;
    height: 24px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Places */
.places-list{    
    margin-top: 16px;   
}

.place-img{
    width: 100%;
    display: block;

}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #00e;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 16px;
}

.contact-form .form-control {
    padding: 10px;
    width: 100%;
}

/* Map section */
.map-section img {
    width: 100%;
    filter: grayscale(50%);
}


#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list a{
    text-decoration: none;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);

}

#footer .copyright a:hover,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.7);
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    margin-top: -250px;
    position: relative;
    max-width: calc(100% - 100px);
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background: #009688;
    border: none;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    padding: 18px;
    cursor: pointer;
}

#buy-tickets:hover {
    opacity: 0.9;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

/* Tạo ra chuyển động của nhiều ảnh tĩnh */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-160px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
